#vita.details.inactive
  %h1 Vita

  %strong Sieben Jahre Verlagsleiter beim Heinrich Bauer Verlag
  %strong Neun Jahre Bereichsleiter redaktionelle Marktforschung
  %strong Sieben Jahre Freier Berater für Heinrich Bauer Programmzeitschriftenverlag
  %strong Sechs Jahre Studienleiter bei Kehrmann Marktforschung

  %br
  %h1 Meine Kompetenzen
  Konzentration auf umsetzbare und erfolgsversprechende Empfehlungen aufgrund mehrjähriger Tätigkeit als Verlagsleiter.
  %br
  %br
  Erfahrener Konsumentenmarktforscher mit den Schwerpunkten Produktwahrnehmung, Produktoptimierung, Neuproduktentwicklung und Methodenentwicklung - offline wie online.
  %br
  %br
  Entwicklung von Zeitschriften in Deutschland, England, Spanien, Frankreich und Polen.
  %br
  %br
  Sowohl Neuaufbau als auch Restrukturierung von Marktforschungsteams zur Anpassung an neue Strukturen bei gleichzeitiger Effizienzsteigerung.
  %br
  %br
  Unternehmerisch denkender, flexibler Teamplayer mit ausgeprägten Kommunikations-fähigkeiten und hohem Commitment zum Job.




%i.icon-remove-sign.icon-2x
