#vita.details.inactive
  %h1 Vita

  Geboren am 28. Juni 1958 in Bad Oldesloe<br>
  verheiratet, drei Kinder

  %h2 Kernkompetenzen
  Konzentration auf umsetzbare und erfolgsversprechende Empfehlungen aufgrund mehrjähriger Tätigkeit als Verlagsleiter.
  %br
  %br
  Erfahrener Konsumentenmarktforscher mit den Schwerpunkten Produktwahrnehmung, Produktoptimierung, Neuproduktentwicklung und Methodenentwicklung - offline wie online.
  %br
  %br
  Sowohl Neuaufbau als auch Restrukturierung von Marktforschungsteams zur Anpassung an neue Strukturen bei gleichzeitiger Effizienzsteigerung.
  %br
  %br
  Unternehmerisch denkender, flexibler Teamplayer mit ausgeprägten Kommunikations-fähigkeiten und hohem Commitment zum Job.


  %h3 Sieben Jahre Verlagsleiter beim Heinrich Bauer Verlag
  %p
    tina, bella, Laura, tina Sonderhefte<br>
    Fernsehwoche, tv Hören & Sehen, tv 14

    %ul
      %li Markenführung; Ausbau der Marken im Bereich Print, Aufbau und strategische Weiterentwicklung im Bereich Online
      %li Wirtschaftliche Verantwortung und Kontrolle
      %li Etablierung neuer innovativer Vermarktungsideen
      %li Einführung von neuen Marken und Märkten:
      %li tina woman, Laura Rezepte, Rezepte pur, alles für die Frau, tvhus.de, FSW.de, tv Hören und Sehen Premiumkalender und Fotobuch, 777 Irrtümer Buch der Fernsehwoche.


  %h3 Neun Jahre Bereichsleiter redaktionelle Marktforschung
  %ul
    %li Neuausrichtung der redaktionellen Marktforschung inklusive Anpassung der Teamgröße
    %li Aufbau eines neuen Sets an Instituten
    %li Erweiterung des Methodenkanons um neue Ansätze auch aus dem Bereich Online
    %li Etablierung der Do-It-Yourself Marktforschung
    %li Neuausrichtung der zentralen Dokumentation inklusive Anpassung der Teamgröße


  %h3 Sieben Jahre Freier Berater für Heinrich Bauer Programmzeitschriftenverlag
  Entwicklung von Programmzeitschriften in Deutschland, England, Spanien, Frankreich
  und Polen.


  %h3 Sechs Jahre Studienleiter bei Kehrmann Marktforschung
  %ul
    %li Beobachtung der Entwicklung der elektronischen Medien
    %li Konkurrenzbeobachtung für die Heinrich Bauer Programmzeitschriften Verlag KG inklusive Produktentwicklung
    %li Qualitative und quantitative Studien in Deutschland und Europa


%i.icon-remove-sign.icon-2x
