.section.produktentwicklung.one-third.column.omega{ name: "produktentwicklung" }
  %h2 Produktentwicklung
  %em …da muss doch noch was gehen
  %ul
    %li Wir setzen das kreative Innova&shy;tionspotential Ihrer Kunden frei
    %li Wir ermitteln die stärksten Innovationen
    %li Mit uns können Sie sich auf die besten Ideen konzentrieren

  %button.green Mehr…

#produktentwicklung.details.inactive
  %h1 Produktentwicklung

  Mit Hilfe von MfM setzen Sie das kreative Innovationspotential Ihrer Kunden und Ihrer Mannschaft frei,
  %br
  damit Sie sich auf die wirklich erfolgsversprechenden Ideen konzentrieren können.</strong>
  %br
  %br
  %strong MfM unterzieht Ihr Produkt einem Herz-und Nieren-Check

  %ul
    %li Wir konfrontieren Produzenten-Erwartungen mit Konsumenten-Urteilen
    %li Wir ermitteln die Begeisterungsstärke
    %li Wir finden den zugkräftigsten Preis
    %li Wir verbessern die Kaufabsicht für Ihr Angebot

  %strong Mit MfM haben Sie einen erfahrenen Partner an Ihrer Seite

%i.icon-remove-sign.icon-2x
