.produkt.entwicklung.one-third.column.omega
  %h2 Produktentwicklung
  %em …da muss doch noch was gehen
  %ul
    %li Wir setzen das kreative Innova&shy;tionspotential Ihrer Kunden frei
    %li Wir ermitteln die stärksten Innovationen
    %li Mit uns können Sie sich auf die erfolgsversprechenden Ideen konzentrieren

#entwicklung.details.inactive
  Entwicklung und so weiter
