.produkt.entwicklung.one-third.column.omega{ name: "produktentwicklung" }
  %h2 Produktentwicklung
  %em …da muss doch noch was gehen
  %ul
    %li Wir setzen das kreative Innova&shy;tionspotential Ihrer Kunden frei
    %li Wir ermitteln die stärksten Innovationen
    %li Mit uns können Sie sich auf die erfolgsversprechenden Ideen konzentrieren

#entwicklung.details.inactive
  %i.icon-remove-sign.icon-2x
  %h3 …da muss doch noch etwas gehen!

  Ihre Kunden wollen überrascht werden

  Mit Hilfe von MfM setzen Sie das kreative Innovationspotential Ihrer Kunden und Ihrer Mannschaft frei, damit Sie sich auf die wirklich erfolgsversprechenden Ideen konzentrieren können.

  MfM unterzieht Ihr Produkt einem Herz-und Nieren-Check

  %ul
    %li Wir konfrontieren Produzenten-Erwartungen mit Konsumenten-Urteilen
    %li Wir ermitteln die Begeisterungsstärke
    %li Wir finden den zugkräftigsten Preis


  Dafür bespielt das Institut in enger Abstimmung mit Ihnen die gesamte marktforscherische Klaviatur von klassisch bis online – je nach Budget und Zielsetzung:

  %ul
    %li Co-Creation		Cover Tests online
    %li Schlagzeilen Tests online
    %li Preis-Tests offline / online
    %li Home-Use-Tests		Bodymonitor


  Mit MfM haben Sie einen erfahrenen Partner an Ihrer Seite
