.produkt.optimierung.one-third.column.alpha
  %h2 Produktoptimierung
  %em …es muss doch noch besser gehen
  %ul
    %li Unsere Ergebnisse sind empirisch belastbar
    %li Wir liefern konkrete Handlungsvorschläge
    %li Mit uns verbessern sich Ihre Auflage, Ihre Page Impressions, Ihre Einschaltquoten

#optimierung.details.inactive
  Optimierung und so weiter
