.produkt.optimierung.one-third.column.alpha{ name: "produktoptimierung" }
  %h2 Produktoptimierung
  %em …es muss doch noch besser gehen
  %ul
    %li Unsere Ergebnisse sind empirisch belastbar
    %li Wir liefern konkrete Handlungsvorschläge
    %li Mit uns verbessern sich Ihre Auflage, Ihre Page Impressions, Ihre Einschaltquoten

#optimierung.details.inactive
  %i.icon-remove-sign.icon-2x
  %h3 …es muss doch noch besser gehen!
  Das MfM Institut justiert Ihr Produkt,
  individuell auf Ihre Anforderungen und die Bedürfnisse Ihrer Kunden zugeschnitten.

  Unsere Ergebnisse sind empirisch belastbar, der Erfolg messbar.

  Im Fokus steht dabei Ihr Produkt in allen relevanten Aspekten von der
  Titelseite über die Angebotsdramaturgie bis zur Tonalität von Headlines und Text. Am Ende der Analyse erhalten Sie eine MfM-Strategie mit
  konkreten Handlungsvorschlägen zur Optimierung der Basisanforderungen und Vertiefung der Begeisterung für Ihr Produkt.

  Im Detail gehen wir folgendermaßen vor …

  MfM wirft ein Auge auf den Wettbewerb: Wir ermitteln die relevanten Unterschiede zum Wettbewerb

  MfM konzentriert sich auf Ihr Produkt: Wir matchen Ihr Angebot mit den Erwartungen der Ihrer Käufer 		Wir ordnen die Wünsche in Basisanforderungen, die von den 		Käufern erwartet werden, und Begeisterungsfaktoren, die den 		Unterschied zur Konkurrenz ausmachen (werden).

  MfM entwickelt die entscheidenden Maßnahmen: Wir schonen Ihre Ressourcen durch klare Prioritäten

  Dafür bespielen wir in enger Abstimmung mit Ihnen die gesamte marktforscherische Klaviatur von klassisch bis online
  je nach Budget und Zielsetzung:

  %ul
    %li Gruppendiskussionen		Copy-Tests
    %li Cover Tests online		Schlagzeilen Tests online
    %li Leserbefragungen offline / online
    %li Bodymonitor (zur Erfassung der emotionalen Wirkung)

  MfM tut alles, damit sich Ihre Auflage, Ihre Pageimpressions, Ihre Einschaltquoten nachhaltig verbessern
