.section.produktoptimierung.one-third.column.alpha{ name: "produktoptimierung" }
  %h2 Produktoptimierung
  %em …es muss doch noch besser gehen
  %ul
    %li Unsere Ergebnisse sind empirisch belastbar
    %li Wir liefern konkrete Handlungsvorschläge
    %li Mit uns verbessern sich Ihre Erlöse nachhaltig
  %button.green Mehr…

#produktoptimierung.details.inactive
  %h1 Produktoptimierung
  Das MfM Institut justiert Ihr Produkt, individuell auf Ihre Anforderungen und die Bedürfnisse Ihrer Kunden zugeschnitten.
  %br
  %strong Unsere Ergebnisse sind empirisch belastbar, der Erfolg messbar.
  %br
  Im Fokus steht dabei Ihr Produkt in allen relevanten Aspekten von der
  Titelseite über die Angebotsdramaturgie bis zur Tonalität von Headlines und Text. Am Ende der Analyse erhalten Sie eine MfM-Strategie mit
  konkreten Handlungsvorschlägen zur Optimierung der Basisanforderungen und Vertiefung der Begeisterung für Ihr Produkt.

  Wir ermitteln die relevanten Unterschiede zum Wettbewerb.
  %br
  %br
  MfM konzentriert sich auf Ihr Produkt: Wir matchen Ihr Angebot mit den Erwartungen Ihrer Käufer.
  %br
  Wir ordnen die Wünsche in Basisanforderungen und Begeisterungsfaktoren.
  %br
  %br
  %strong MfM entwickelt die entscheidenden Maßnahmen.
  Wir schonen Ihre Ressourcen durch klare Prioritäten.
  %br
  Dafür bespielen wir in enger Abstimmung mit Ihnen die gesamte marktforscherische Klaviatur von klassisch bis online
  je nach Budget und Zielsetzung:

  %ul
    %li.green Gruppendiskussionen
    %li.green Kundenbefragungen
    %li.green Home-Use-Test
    %li.green Bodymonitor
    %li.green Co-Creation
    %li.green Text-Check
    %li.green Cover-Test
    %li.green Preis-Test


  %strong MfM tut alles, damit sich Ihre Erlöse nachhaltig verbessern
%i.icon-remove-sign.icon-2x
