.product.produktoptimierung.one-third.column
  %h2 Produktoptimierung
  %em Es geht noch besser!
  %ul
    %li Wir analysieren den Wettbewerb
    %li Wir justieren Ihr Produkt
    %li Wir handeln

  %p
    Das MfM Institut justiert Ihr Produkt,
    individuell auf Ihre Bedürfnisse und die Bedürfnisse Ihrer Kunden zugeschnitten.
    Unsere Ergebnisse sind belastbar, der Erfolg messbar!
