.produkt.profilierung.one-third.column{ name: "produktprofilierung" }
  %h2 Produktprofilierung
  %em …es muss doch noch schärfer gehen
  %ul
    %li Wir arbeiten die besondere Werbewirkung heraus
    %li Wir liefern Kommunikationsideen aus einem Guss
    %li Mit uns steigert sich Ihr Media Sales Erfolg

#profilierung.details.inactive
  %i.icon-remove-sign.icon-2x
  %h1 Produktprofilierung
  Das MfM Institut lässt ihr Produkt herausstechen, damit es auch im Media Sales Wettbewerb gewinnt.
  %br
  Im Fokus stehen dabei Ihre Kunden und Ihr Produkt mit spannenden, empirisch belastbaren Geschichten, die die emotionalen Stärken herausarbeiten.
  %br
  MfM nutzt die vorliegenden Erkenntnisse für eine <strong>Media Sales Kommunikation aus einem Guss.</strong>

  Wir arbeiten heraus, 	welch überragende Rolle ihr Medium im Alltag spielt,
  %ul
    %li wie wohl sich Ihre Kunden beim Umgang damit fühlen,
    %li wie lange / wie intensiv Ihr Angebot genutzt wird,
    %li was <strong>die besondere Werbewirkung Ihres Angebotes</strong> zum Erfolg Ihrer Kunden beiträgt.


  %strong MfM setzt alles daran, Ihren Media Sales Erfolg signifikant zu steigern
