.produkt.profilierung.one-third.column
  %h2 Produktprofilierung
  %em …es muss doch noch schärfer gehen
  %ul
    %li Wir arbeiten die besondere Werbewirkung heraus
    %li Wir liefern Kommunikationsideen aus einem Guss
    %li Mit uns steigert sich Ihr Media Sales Erfolg

#profilierung.details.inactive
  Profilierung und so weiter
