.product.produktprofilierung.one-third.column.alpha
  %h2 Produktprofilierung
  %em Es geht noch schärfer!
  %ul
    %li Wir analysieren den Wettbewerb
    %li Wir justieren Ihr Produkt
    %li Wir handeln

  %p
    Das MfM Institut lässt ihr Produkt hervor stechen,
    damit es auch im Anzeigenwettbewerb gewinnt. Wir entwickeln mit Ihnen span&shy;nende Geschichten, die die emotionalen Stärken herausarbeiten.
