.product.relaunch.one-third.column.omega
  %h2 Launch & Relaunch
  %em Da geht doch noch was!
  %ul
    %li Wir analysieren den Wettbewerb
    %li Wir justieren Ihr Produkt
    %li Wir handeln

  %p
    Die Kunden warten auf Ihre Innovationen.

    Mit Hilfe von MfM können Sie sich auf die Ideen konzentrieren, die
    Begeisterung auslösen und die etwas Besonderes bieten.
