.box.sixteen.columns.alpha
  .description{ contenteditable: true }
    Mit Leidenschaft Marktforscher.
    %br
    Mit Leidenschaft Verlagsleiter.
    %br
    %br
    Ich freue mich auf ihre Herausforderung.
