.stage.box.sixteen.columns.alpha
  = image_tag "description.png", class: "description"
  = image_tag "signature.png", class: "signature"
  %button.section.vita{ name: "vita" } Meine Kompetenzen
= render :partial => "pages/cv"
