// Stage Area
.details
  background: rgba(255, 255, 255, .8)
  border: 1px solid lightgrey
  font-size: 0.9rem
  left: 10px
  overflow: auto
  padding: 20px
  position: absolute

  & + .icon-remove-sign
    color: lighten($grey, 20%)
    cursor: pointer
    opacity: 0
    position: absolute
    right: -10px
    top: 5px
    transition: color 200ms ease-in-out
    z-index: 2

    &:hover
      color: $grey
      text-shadow: 0 0 5px rgba($grey, .2)

    &:active
      color: $grey
      text-shadow: none
      transform: translateY(1px)

  h1
    color: $green
    font-family: Verlag
    font-size: 1.8rem
    font-weight: 700
    margin: 0 0 10px
    padding: 0
    text-align: left

  &.inactive
    height: 300px
    opacity: 0
    overflow: hidden
    top: 540px
    transition: all 200ms cubic-bezier(.10, .70, .10, 1), opacity 0 linear 100ms, z-index 0 linear 200ms
    width: 300px
    z-index: 0

  &.active
    height: 500px
    left: 0 !important
    opacity: 1
    text-align: left
    top: 20px
    transition: all 200ms cubic-bezier(.10, .70, .10, 1)
    width: 940px
    z-index: 1

    & + .icon-remove-sign
      left: inherit !important
      opacity: 1
      right: -10px !important
      top: 5px !important
      transition: opacity 200ms ease-in-out 200ms
      z-index: 2



// Section Area
.content
  .section
    background: rgba(255, 255, 255, .9)
    border: 1px solid lightgrey
    color: $grey
    float: left
    height: 320px
    margin-top: 20px
    position: relative
    text-align: center
    z-index: 1

    &:hover
      border-color: lighten($green, 20%)
      box-shadow: 0 0 8px $green
      cursor: pointer
      transition: box-shadow 200ms ease-out

    &.active
      border-color: lighten($green, 20%)
      box-shadow: 0 0 8px $green
      transition: all 200ms cubic-bezier(.10, .70, .10, 1)

    h2
      color: $green
      font-family: Verlag
      font-weight: 700
      margin-bottom: .3rem
      text-align: center

    p
      padding: 1.5rem

    em
      color: $green
      display: block
      font-size: 0.8rem
      margin-top: -5px
      text-align: center

    ul
      padding-right: 20px

      li
        font-size: 0.9rem
        line-height: 1.5
        margin-bottom: 8px
        text-align: left

  a.section.vita
    background: transparent
    border: none
    bottom: 155px
    color: $green
    font-size: 1.3rem
    height: auto
    position: absolute
    right: 55px
    text-decoration: none
    z-index: 3

    &:hover
      border: none
      text-decoration: underline



#produktoptimierung
  left: 0px

  & + .icon-remove-sign
    left: 285px
    position: absolute
    top: 525px

  ul
    overflow: hidden
    margin: 0
    padding: 20px 0

  li.green
    color: $green
    float: left
    font-size: 1rem
    font-weight: bold
    list-style: none
    margin: 0 10px 10px 0
    text-align: center
    width: 214px

#produktprofilierung
  left: 320px

  & + .icon-remove-sign
    left: 605px
    position: absolute
    top: 525px

#produktentwicklung
  left: 640px

  & + .icon-remove-sign
    left: 925px
    position: absolute
    top: 525px

#vita
  &.inactive
    height: 40px
    left: 774px
    top: -92px
    width: 166px

  &.active
    left: 470px !important
    width: 470px !important

  strong
    display: block
    font-weight: 400
    line-height: 1.2
    margin: 1rem 0 0.8rem


#impressum
  height: 100px
  left: 330px
  top: 893px

  &.active
    height: 500px
    left: 10px !important
    top: 173px

    & + .icon-remove-sign
      right: -2px !important
      top: 158px !important

  .disclaimer
    margin-top: 30px

  table
    td
      vertical-align: top
      width: 33%

  .tmg

  .kontakt

  .bildrechte
    margin: 30px 0

    a
      color: $grey


button.green
  background: linear-gradient(#5CB6A7, $green)
  border: 1px solid
  border-bottom-color: darken($green, 30%)
  border-left-color: darken($green, 20%)
  border-right-color: darken($green, 20%)
  border-top-color: darken($green, 10%)
  bottom: 20px
  box-shadow: inset 0 1px 1px 0 lighten(#5CB6A7, 20%), 0 0 5px lighten($grey, 20%)
  color: white
  font-size: 1.2rem
  height: 40px
  left: 50%
  margin-left: -45px
  padding: 9px 10px 10px
  position: absolute
  text-align: center
  width: 90px


  &:hover, &.active
    background: linear-gradient(darken(#5CB6A7, 5%), darken($green, 5%))
    border-bottom-color: darken($green, 30%)
    border-left-color: darken($green, 20%)
    border-right-color: darken($green, 20%)
    border-top-color: darken($green, 10%)
    box-shadow: inset 0 1px 1px 0 lighten(#5CB6A7, 20%), 0 0 5px lighten($grey, 20%)

  &:active, &.active
    box-shadow: inset 0 1px 9px 0 rgba(0, 0, 0, 0.6)
    transition: all 0ms

  &:focus
    outline: 0

