@import font-awesome/font-awesome.scss
@import boilerplate/base.sass
@import boilerplate/normalize.sass
@import boilerplate/typography.sass
@import boilerplate/skeleton.sass
@import boilerplate/helper.sass
@import home.sass

*
  box-sizing: border-box

body
  background: black image-url("ship4.jpg") top center no-repeat

header
  margin: 30px 10px

  .contact
    position: absolute
    right: 10px
    text-align: right
    top: 24px

    .icon-phone, .icon-envelope
      color: $green

    .phone-number, .email
      color: $grey
      font-size: 1em
      font-weight: bold
      text-decoration: none

.content
  margin-bottom: 2rem

  &.text
    ul
      display: none

  &.list
    .product
      height: 200px

    .product > p
      display: none

  .box.sixteen
    background: white image-url("portrait7.jpg") top left no-repeat
    height: 500px

  #portrait
    float: left
    width: 300px

  .description
    background: rgba(255, 255, 255, .5)
    float: left
    margin-left: 400px
    padding: 20px
    width: 470px

  .product
    background: rgba(255, 255, 255, .8)
    border: 1px solid lightgrey
    color: $grey
    float: left
    height: 300px
    margin-top: 20px

    &:hover
      border-color: lighten($green, 20%)
      box-shadow: 0 0 8px $green
      cursor: pointer
      transition: box-shadow 200ms ease-out

    h2
      font-weight: 300
      margin-bottom: .3em
      text-align: center

    p
      padding: 1.5rem

    em
      display: block
      font-size: 14px
      margin-top: -10px
      text-align: center

    ul
      li
        line-height: 1.8em

  .box
    background: rgba(255, 255, 255, .8)
    border: 1px solid lightgrey
    margin-top: 20px
    padding: 1.5rem

footer
  margin-bottom: 10px
  text-align: center

  .icon-anchor
    display: block
    margin-bottom: 15px

  a
    border-bottom: 1px solid $grey
    color: $grey
    font-size: .8em
    text-decoration: none

.product.green
  h2
    background: #58979F
    color: white
    margin-top: 0
    padding-top: .3em

  em
    background: #58979F
    border-bottom: 1px solid lightgrey
    color: white
    padding: 0 0 .6em
