@import fonts
@import boilerplate/base
@import boilerplate/normalize
@import boilerplate/typography
@import boilerplate/skeleton
@import boilerplate/helper
@import sections

*
  box-sizing: border-box

body
  background: black image-url("ship.jpg") top center no-repeat

header
  margin: 30px 10px
  position: relative
  z-index: 2

  +breakpoint(xs)
    #logo
      margin-top: 15px

  +breakpoint(s)
    #logo
      margin-top: 15px

  .contact
    position: absolute
    right: 10px
    text-align: right
    top: 24px

    +breakpoint(xs)
      margin-right: -150px
      right: 50%
      text-align: center
      top: 434px
      width: 300px

    +breakpoint(s)
      top: 27px

      //&:after
        //background: url("signature.png") no-repeat
        //content: ''
        //display: block
        //height: 67px
        //margin: 30px auto 0
        //width: 180px

    .icon-phone, .icon-envelope
      color: $green

    .phone-number, .email, .vita
      color: $grey
      display: block
      font-size: 1em
      position: relative
      text-decoration: none
      z-index: 1

      &:hover
        text-decoration: underline

    .vita.active
      color: $green
      text-decoration: underline

    +breakpoint(xs)
      font-size: 0.9em

      .phone-number
        float: left
        text-align: left
        text-decoration: underline

      .email
        float: right
        text-align: right
        text-decoration: underline

      .vita
        clear: both
        cursor: default
        font-family: Verlag
        font-size: 2em
        text-decoration: none
        top: 25px

        &:before
          content: "— "

        &:after
          content: " —"

        &:hover
          text-decoration: none

    +breakpoint(s)
      .phone-number, .email
        text-decoration: underline

      .vita
        cursor: default
        font-family: Verlag
        font-size: 2em
        left: -100px
        text-decoration: none
        top: 345px

        &:before
          content: "— "

        &:after
          content: " —"

        &:hover
          text-decoration: none


.content
  margin-bottom: 2rem
  position: relative

  &.text
    ul
      display: none

  .stage.box
    background: white image-url("portrait.jpg") top left / 100% no-repeat
    height: 500px
    position: relative
    z-index: 1
    // hack to enable hardware acceleration
    backface-visibility: hidden
    perspective: 1000

    +breakpoint(xs)
      background-size: 205%
      height: 310px
      margin-top: 10px

    +breakpoint(s)
      height: 288px
      margin-bottom: 50px
      margin-top: 5px

    &.inactive
      -webkit-filter: blur(10px)

  .cv
    background: lighten($green, 20%)
    bottom: 80px
    border: 1px solid $green
    box-shadow: 0 0 5px 1px lightgrey
    color: white
    font-size: 1.5rem
    font-weight: 700
    padding: 10px 20px
    position: absolute
    right: 200px


  .box
    background: rgba(255, 255, 255, .8)
    border: 1px solid lightgrey
    margin-top: 20px
    padding: 1.5rem

footer
  margin-bottom: 10px
  text-align: center

  .icon-anchor
    color: white
    display: block
    margin-bottom: 15px

  a
    border-bottom: 1px solid lightgrey
    color: lightgrey
    font-size: .8em
    text-decoration: none

    &:hover
      border-color: white
      color: white

  +breakpoint(xs)
    .impressum
      display: none

  +breakpoint(s)
    .impressum
      display: none


.disable-animations
  transition-delay: 0 !important
  transition-duration: 0 !important
